html,body {
  height: 100%;
}
.header .sys__name {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(255,255,255, 0.2);  
  margin: 16px 28px 16px 0;
  float: left;
  padding: 0;
  color: #fff;
}
.header .sys__user {
  float: right;
  color: #fff;
}
.header .sys__user > div {
  position: relative;
}
.header .sys_logout {
  position: absolute;
  z-index: 9;
  top: 56px;
  width: 80px;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}
.header .ant-card-body {
  padding-top: 10px;
  padding-bottom: 0;
}
.header .sys_logout p {
  padding: 0;
}
.header .sys__user img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.sider {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc( 100vh - 64px );
}
.main__content {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc( 100vh - 120px );
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
::selection {
  background: #444444;
  color: #fff;
}