<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      p {
        padding: 100px 0;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #444444;
      }
    </style>
  </head>
  <body>
    <p><%= content %></p>
  </body>
</html>